.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

local.properties
**/local.properties

.gradle/
build/
app/build/
**/build/
*.iml

.cxx/
captures/
.externalNativeBuild/
.navigation/

*.jks
*.keystore
*.key
